---
import { Accent, AnimatedText } from "../components/Index";
import Cards from "../components/Cards.astro";
import SmallCards from "../components/SmallCard.astro";
import Layout from "../layout/Layout.astro";

import { Icon } from 'astro-icon'
const texts = [
  "reliable",
  "fast",
  "secure",
]

const showcase = [
  {
    title: "URL Shortener",
    img: "/images/tech1.jpeg",
    alt: "URL",
    desc: "URL Shortner is a simple URL shortener that allows you to shorten any URL and get the original URL back.",
    tags: ["Go", "Redis", "Postgres"],
    href: "https://mustafasegf.com/s",
    github: "https://github.com/mustafasegf/go-shortener"
  },
  {
    title: "Anonymous Chat",
    img: "/images/tech2.jpeg",
    alt: "Chat",
    desc: "Anonymous Chat is a simple chat application that allows you to chat anonymously with a room you create.",
    tags: ["Go", "Kafka", "Docker", "Websocket"],
    href: "https://mustafasegf.com/chat",
    github: "https://github.com/mustafasegf/chat"
  },
  {
    title: "Neoman",
    img: "/images/tech3.jpeg",
    alt: "Terminal",
    desc: "Neoman is a postman like terminal application that allows you to send and receive HTTP requests and responses.",
    tags: ["Go", "Terminal", "Bubbletea"],
    href: "https://mustafasegf.com/neoman",
    github: "https://github.com/mustafasegf/neoman"
  }
]

const projects = [
  {
    title: "hompimpa",
    desc: "Simple real time Indonesian traditional game using redis and websocket",
    tags: ["Go", "Redis", "Websocket"],
    href: "mustafasegf.com/hompimpa",
    github: "https://github.com/mustafasegf/hompimpa"
  },
  {
    title: "sso proxy",
    desc: "SSO to Rest API proxy using golang and colly scraper",
    tags: ["Go", "Colly"],
    href: "",
    github: "https://github.com/ristekoss/sso-proxy"
  },
  {
    title: "notionapi",
    desc: "Contributed to Notion Library using Go",
    tags: ["Go", "Notion", "Library"],
    href: "",
    github: "https://github.com/jomei/notionapi"
  },
  {
    title: "ks-yaml",
    desc: "Kambing Style YAML formater to YAML for better readability",
    tags: ["Go", "YAML", "CLI", "Library"],
    href: "",
    github: "https://github.com/kambi-ng/ks-yaml"
  },
  {
    title: "leetbot",
    desc: "Discord Bot to get daily and random leetcode problems",
    tags: ["Typescript", "Discord", "Bot"],
    href: "",
    github: "https://github.com/kambi-ng/leetbot"
  },
  {
    title: "extract kurikulum",
    desc: "Parse and convert university curriculum from PDF to JSON",
    tags: ["Go", "Parser"],
    href: "",
    github: "https://github.com/mustafasegf/extract-kurikulum"
  },
  {
    title: "notion notes",
    desc: "Discord and line bot to save notes into Notion using API",
    tags: ["Go", "Bot", "Notion"],
    href: "",
    github: "https://github.com/mustafasegf/notion-note"
  },
  {
    title: "moodlefeed",
    desc: "Discord and line bot to send notifications update when moodle changes",
    tags: ["Go", "Bot", "Moodle"],
    href: "",
    github: "https://github.com/mustafasegf/moodlefeed"
  },
  {
    title: "moodletui",
    desc: "Moodle terminal user interface to navigate and see moodle courses",
    tags: ["Go", "Terminal", "Bubbletea"],
    href: "",
    github: "https://github.com/mustafasegf/moodletui"
  }
]

const experience = [
  {
    title: 'Backend Engineer',
    company: 'SayaKaya',
    location: 'Jakarta',
    range: 'Jan 2022 - May 2022',
    href: 'https://sayakaya.id/',
    list: [
      "Create B2B enabler service for closing multi hundred billion Rupiah (7 figures USD) deal",
      "Create backend service from scratch with golang using fiber framework and openapi documentation",
      "Create CI/CD pipeline with google cloud platforms cloud build and cloud run",

    ]
  },
  {
    title: 'Backend Engineer',
    title: 'Teaching Assistant',
    company: 'University of Indonesia',
    location: 'University of Indonesia, Depok',
    range: 'Jul 2021 - Jun 2022',
    href: 'https:/cs.ui.ac.id/',
    list: [
      "Teach operating system and backend engineering student with class of 250+ student",
      "Helped creating 20% of class weekly quizzes with automatic scoring with moodle learning platform",
      "Helped developed backend service with microservices, logging and orchestration"
    ]
  },
  {
    title: 'Backend Engineer',
    title: 'Backend Engineer',
    company: 'Lingotalk',
    location: 'Jakarta',
    range: 'Nov 2021 - Jan 2022',
    href: 'https:/lingotalk.co/',
    list: [
      "Created recurring payment sistem with nodejs and midtrans service",
    ]
  },
  {
    title: 'Backend Engineer',
    company: 'Forky',
    location: 'Jakarta',
    range: 'Apr 2021 - Oct 2021',
    href: 'https:/forky.id/',
    list: [
      "increased endpoint response time by 56% by implement redis caching on postgres database query",
      "Debuged 3 golang with gin framework critical bug that prevent the app downtime for 6 hours",
      "Handle 5 different backend services using golang, postgres, rabbitmq, elasticsearch and redis",
      "Create technical requirement document and API contract for 5 backend services",
      "Programmed CI/CD using AWS codepipeline, AWS codebuild, AWS EKS using hashicorp terraform",

    ]
  },
  {
    title: 'Backend Engineer',
    company: 'AAC',
    location: 'Airlangga University, Surabaya',
    range: 'Jul 2021 - Sep 2021',
    href: 'https://aacunair.id/',
    list: [
      "Developed REST API backend for tinder like app using nodejs, typescript, prisma, AWS elastic beanstalk",
      "Enhanced API endpoint for load under 10ms using postgres database indexing and redis cache"

    ]
  },
  {
    title: 'Backend Engineer',
    company: 'PMB',
    location: 'University of Indonesia, Depok',
    range: 'Jun 2021 - Sep 2021',
    href: 'https://pmb.cs.ui.ac.id/',
    list: [
      "Developed REST API backend for tinder like app using Nodejs, typescript, prisma, AWS elastic beanstalk",
      "Developed production and preproduction environment using github action CI/CD to AWS elastic bean stack automaticlly"

    ]
  },
  {
    title: 'Lead Software Engineer',
    company: 'EDUCARE',
    location: 'University of Indonesia, Depok',
    range: 'Oct 2020 - Apr 2021',
    href: 'https://educare.cs.ui.ac.id/',
    list: [
      "Selected as head of software engineering for Computer Science UI Education And Careers Event",
      "Lead a team of 5 developers with weekly standups, task distribution and code review on regular basis",
      "Developed job listing application used by 1600+ using NextJS, Firebase, and SSO CAS authentication"
    ]
  },
]

const skills = [
  { name: 'Golang', icon: "simple-icons:go" },
  { name: 'Rust', icon: "simple-icons:rust" },
  { name: 'Typescript', icon: "simple-icons:typescript" },
  { name: 'SQL (Postgres)', icon: "simple-icons:postgresql" },
  { name: 'Redis', icon: "fontisto:redis" },
  { name: 'RabbitMQ', icon: "simple-icons:rabbitmq" },
  { name: 'Kafka', icon: "simple-icons:apachekafka" },
  { name: 'Elastic Search', icon: "simple-icons:elasticsearch" },
  { name: 'Docker', icon: "simple-icons:docker" },
  { name: 'Kubernetes (K8s)', icon: "simple-icons:kubernetes" },
  { name: 'AWS', icon: "simple-icons:amazonaws" },
  { name: 'GCP', icon: "simple-icons:googlecloud" },
];
---
<Layout>
  <div id="hero" class="mb-16">
    <p class="text-neutral-content text-sm lg:text-md mb-2">Hi, my name is</p>
    <h3 class="text-info text-md sm:text-xl lg:text-4xl mb-6">Mustafa Zaki Assagaf</h3>
    <h1 class="text-5xl lg:text-7xl font-semibold mb-8">
      I build <br />
      <AnimatedText client:load words={texts} /> <br />
      web technologies
    </h1>
    <p class="mb-12 md:w-[60%]">
      I'm a <Accent>Backend Engineer</Accent>, <Accent>Cloud Engineer</Accent> and <Accent>System Engineer
      </Accent> who use <Accent>Golang</Accent>, <Accent>Rust</Accent> and <Accent>TypeScript</Accent>
    </p>
    <div class="flex flex-col sm:flex-row gap-2">
      <a class="btn btn-primary text-primary-content btn-block sm:btn-wide mr-4"> Checkout My Work! </a>
      <a class="btn btn-info btn-outline btn-block sm:btn-wide text-sm">Learn More About Me!</a>
    </div>
  </div>

  <div id="skill" class="mb-16">
    <h3 class="text-2xl font-semibold mb-8">Technologies that I use:</h3>
    <p class="mb-4"></p>
    <ul class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 list-disc list-inside">
      {skills.map(({name, icon}) => (
      <li class="flex gap-2 mb-2 text-secondary">
        {icon &&
        <Icon size={24} name={icon} />}
        <span>{name}</span>
      </li>
      ))}
    </ul>
  </div>

  <div id="showcase" class="mb-16">
    <h3 class="text-2xl font-semibold mb-8">Some Stuff That I've Built</h3>
    <div class="container mb-8">
      <div class="flex flex-wrap lg:justify-center">
        {showcase.map(({ title, img, alt, desc, tags, href, github }) => (
        <Cards title={title} img={img} alt={alt} desc={desc} tags={tags} href={href} github={github} />
        ))}
      </div>
    </div>
    <h3 class="text-2xl font-semibold mb-8">Other Projects</h3>
    <div class="flex flex-wrap lg:justify-center">
      {projects.map(({ title, desc, tags, href, github }) => (
      <SmallCards title={title} desc={desc} tags={tags} href={href} github={github} />
      ))}
    </div>
  </div>

  <div id="work" class="mb-16">
    <h3 class="text-2xl font-semibold mb-8">My Experience</h3>
    <div class="flex flex-wrap">
      <ol class="relative border-l border-gray-200 dark:border-gray-700">
        {experience.map(({ title, company, range, href, list }) => (
        <li class="mb-10 ml-4">
          <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border-base-content bg-secondary" />
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{range}</time>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{title} <a target="_blank" href={href}
              class="text-secondary hover:text-secondary-focus">@ {company} </a></h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            {list && list.map(item => (
          <div class="flex items-center gap-1 mb-2">
            <Icon size={16} class="text-neutral" name="codicon:triangle-right" />
            <p>{item}</p>
          </div>
          ))}
          </p>
        </li>
        ))}
      </ol>
    </div>
  </div>

  <div id="about" class="mb-16">
    <h3 class="text-2xl font-semibold mb-4">About Me</h3>
    <div class="flex flex-col space-y-4">
      <div class="">
        <p class="mb-4 mt-4">
          <span class="font-semibold">Hi there! </span> <br /> My name is Mustafa and I love to do web development. I
          mostly do backend engineering, but i also can
          do frontend engineering as well. Other than that, i also deal with cloud engineering using GCP and AWS. I've
          also played with system engineering projects.
        </p>
        <p class="mb-4">
          Right now I'm <span class="text-secondary">actively looking for a job</span> and can do remote fulltime, or
          partime job.
          <br />
          You can also checkout my latest project, <a class="link text-info" href="">Neoman</a>!
          Postman like aplication on the terminal.
        </p>
      </div>
    </div>

    <footer>

    </footer>
  </div>

</Layout>
<span />
<span />
