---
import { Accent, AnimatedText } from "../components/Index";
import Cards from "../components/Cards.astro";
import SmallCards from "../components/SmallCard.astro";
import Layout from "../layout/Layout.astro";

const texts = [
  "reliable",
  "fast",
  "secure",
]

const showcase = [
  {
    title: "URL Shortener",
    img: "../assets/tech1.jpeg",
    alt: "URL",
    desc: "URL Shortner is a simple URL shortener that allows you to shorten any URL and get the original URL back.",
    tags: ["Go", "Redis", "Postgres"],
    href: "https://mustafasegf.com/s",
    github: "https://github.com/mustafasegf/go-shortener"
  },
  {
    title: "Anonymous Chat",
    img: "../assets/tech2.jpeg",
    alt: "Chat",
    desc: "Anonymous Chat is a simple chat application that allows you to chat anonymously with a room you create.",
    tags: ["Go", "Kafka", "Docker", "Websocket"],
    href: "https://mustafasegf.com/chat",
    github: "https://github.com/mustafasegf/chat"
  },
  {
    title: "Neoman",
    img: "../assets/tech3.jpeg",
    alt: "Terminal",
    desc: "Neoman is a postman like terminal application that allows you to send and receive HTTP requests and responses.",
    tags: ["Go", "Terminal", "Bubbletea"],
    href: "https://mustafasegf.com/neoman",
    github: "https://github.com/mustafasegf/neoman"
  }
]

const projects = [
  {
    title: "hompimpa",
    desc: "Simple real time Indonesian traditional game using redis and websocket",
    tags: ["Go", "Redis", "Websocket"],
    href: "mustafasegf.com/hompimpa",
    github: "https://github.com/mustafasegf/hompimpa"
  },
  {
    title: "sso proxy",
    desc: "SSO to Rest API proxy using golang and colly scraper",
    tags: ["Go", "Colly"],
    href: "",
    github: "https://github.com/ristekoss/sso-proxy"
  },
  {
    title: "notionapi",
    desc: "Contributed to Notion Library using Go",
    tags: ["Go", "Notion", "Library"],
    href: "",
    github: "https://github.com/jomei/notionapi"
  },
  {
    title: "ks-yaml",
    desc: "Kambing Style YAML formater to YAML for better readability",
    tags: ["Go", "YAML", "CLI", "Library"],
    href: "",
    github: "https://github.com/kambi-ng/ks-yaml"
  },
  {
    title: "leetbot",
    desc: "Discord Bot to get daily and random leetcode problems",
    tags: ["Typescript", "Discord Bot"],
    href: "",
    github: "https://github.com/kambi-ng/leetbot"
  },
  {
    title: "extract kurikulum",
    desc: "Parse and convert university curriculum from PDF to JSON",
    tags: ["Go", "Parser"],
    href: "",
    github: "https://github.com/mustafasegf/extract-kurikulum"
  },
  {
    title: "notion notes",
    desc: "Discord and line bot to save notes into Notion using API",
    tags: ["Go", "Bot", "Notion"],
    href: "",
    github: "https://github.com/mustafasegf/notion-note"
  },
  {
    title: "moodlefeed",
    desc: "Discord and line bot to send notifications update when moodle changes",
    tags: ["Go", "Bot", "Moodle"],
    href: "",
    github: "https://github.com/mustafasegf/moodlefeed"
  },
  {
    title: "moodletui",
    desc: "Moddle terminal user interface to navigate and see moodle courses",
    tags: ["Go", "Terminal", "Bubbletea"],
    href: "",
    github: "https://github.com/mustafasegf/moodletui"
  }
]


const skills = [
  'Golang',
  'Rust',
  'Typescript',
  'SQL (Postgres)',

  'Redis',
  'RabbitMQ',
  'Kafka',
  'Elastic Search',

  'Docker',
  'Kubernetes (K8s)',
  'AWS',
  'GCP',
];
---
<Layout>
  <div id="hero" class="mb-16">
    <p class="text-neutral-content text-sm lg:text-md mb-2">Hi, my name is</p>
    <h3 class="text-info text-md sm:text-xl lg:text-4xl mb-6">Mustafa Zaki Assagaf</h3>
    <h1 class="text-5xl lg:text-7xl font-semibold mb-8">
      I build <br />
      <AnimatedText client:load words={texts} /> <br />
      web technologies
    </h1>
    <p class="mb-12 md:w-[60%]">
      I'm a <Accent>Backend Engineer</Accent>, <Accent>Cloud Engineer</Accent> and <Accent>System Engineer
      </Accent> who use <Accent>Golang</Accent>, <Accent>Rust</Accent> and <Accent>TypeScript</Accent>
    </p>
    <div class="flex flex-col sm:flex-row gap-2">
      <a class="btn btn-primary text-primary-content btn-block sm:btn-wide mr-4"> Checkout My Work! </a>
      <a class="btn btn-info btn-outline btn-block sm:btn-wide text-sm">Learn More About Me!</a>
    </div>

  </div>

  <div id="showcase" class="mb-16">
    <h3 class="text-2xl font-semibold mb-8">Some Stuff That I've Built</h3>
    <div class="container mb-8">
      <div class="flex flex-wrap lg:justify-center">
        {showcase.map(({ title, img, alt, desc, tags, href, github }) => (
        <Cards title={title} img={img} alt={alt} desc={desc} tags={tags} href={href} github={github} />
        ))}
      </div>
    </div>
    <h3 class="text-2xl font-semibold mb-8">Other Projects</h3>
    <div class="flex flex-wrap lg:justify-center">
      {projects.map(({ title, desc, tags, href, github }) => (
          <SmallCards title={title} desc={desc} tags={tags} href={href} github={github}/>
      ))}
    </div>
  </div>

  <div id="about" class="mb-16">
    <h3 class="text-2xl font-semibold mb-4">About Me</h3>
    <div class="flex flex-col space-y-4">
      <div class="">
        <p class="mb-4 mt-4">
          <span class="font-semibold">Hi there! </span> <br /> My name is Mustafa and I love to do web development. I
          mostly do backend engineering, but i also can
          do frontend engineering as well. Other than that, i also deal with cloud engineering using GCP and AWS. I've
          also played with system engineering projects.
        </p>
        <p class="mb-4">
          Right now I'm <span class="text-secondary">actively looking for a job</span> and can do remote fulltime, or
          partime job.
          <br />
          You can also checkout my latest project, <a class="link text-info" href="">Neoman</a>!
          Postman like aplication on the terminal.
        </p>
        <p class="mb-4">Here are some of the technologies that I use:</p>
        <ul class="columns-2 md:columns-3 lg:columns-4 list-disc list-inside">
          {skills.map(skill => (
            <li class="text-secondary">{skill}</li>
          ))}
        </ul>
      </div>
    </div>

    <footer>

    </footer>
  </div>

</Layout>
<span />
<span />
