---
import { Icon } from 'astro-icon'

export interface Props {
  title: string
  img: string
  alt: string
  desc: string
  tags: string[]
  href: string
  github: string
}

const { title, img, alt, desc, tags, href, github  } = Astro.props as Props
---
<div class="card mb-4 lg:mr-4 w-full lg:w-[calc(33.3%-1rem)] bg-base-200 shadow-xl">
  <figure class="">
    <img alt={alt} src={img} alt={alt} />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{desc}</p>
    <div class="card-actions mb-4 justify-end">
      {tags.map((tag) => (
      <div class="text-neutral-content hover:text-secondary badge badge-outline">{tag}</div>
      ))}
    </div>
    <div class="card-actions">
      <a target="_blank" href={href} class="btn btn-primary grow">
        <span class="mr-2">Open</span>
        <Icon size={18} name="charm:link-external" />
      </a>
      <a target="_blank" href={github} class="btn btn-secondary btn-outline basis-1/2">
        <span class="mr-2">Github</span>  
        <Icon size={18} name="charm:github" />
      </a>
    </div>
  </div>
</div>
