---
import { Icon } from 'astro-icon'
import { Picture } from '@astrojs/image/components';

export interface Props {
  title: string
  img: string
  alt: string
  desc: string
  tags: string[]
  href: string
  github: string
  className?: string
}

const { title, img, alt, desc, tags, href, github, className } = Astro.props as Props
---

<div class="card mb-4 lg:mr-4 w-full lg:w-[calc(50%-1rem)] bg-base-200 shadow-xl">
  <figure class="">
    <Picture alt={alt} src={import(img)} alt={alt} aspectRatio={"16:9"} widths={[200, 500, 800]}
      sizes="(max-width: 800px) 100vw, 800px" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{desc}</p>
    <div class="card-actions mb-4 justify-end">
      {tags.map((tag) => (
      <div class="text-neutral-content hover:text-secondary badge badge-outline">{tag}</div>
      ))}
    </div>
    <div class="card-actions">
      <a target="_blank" href={href} class="btn btn-primary grow">
        <span class="ml-2">Open</span>
        <Icon size={18} name="charm:link-external" />
      </a>
      <a target="_blank" href={github} class="btn btn-secondary btn-outline basis-1/2">
        <span class="ml-2">Github</span>  
        <Icon size={18} name="charm:github" />
      </a>
    </div>
  </div>
</div>
